<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
  <link rel="stylesheet" href="../static/css/theme.css" type="text/css">

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light sticky-top bg-light">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar6"> <a class="navbar-brand text-primary d-none d-md-block" href="">
          <i class="fa d-inline fa-lg fa-circle"></i>
          <b>Go Library</b>
        </a>
        <ul class="navbar-nav mx-auto">
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="/">Log in</a> </li>
          <li class="nav-item"> <a class="nav-link text-primary" href="/register/">Register</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Register</h1>
          <p class="mb-3">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees.</p>
          <form class="text-left" action="/handleRegister/" method="get">
            <div class="form-group"> <label for="form16">Your Name</label> <input name="nama" type="text" class="form-control" id="form16"> </div>
            <label for="form17">Your University</label>
            <div class="form-group">
              <div class="form-group"><input name="universitas" type="text" class="form-control" id="form17"></div><label for="form17">Birth Place/Date</label> <input name="ttl" type="text" class="form-control" id="form17">
            </div>
            <div class="form-group"> <label for="form18">Username</label> <input name="username" class="form-control" id="form18"> </div>
            <div class="form-row">
              <div class="form-group col-md-12"> <label for="form19">Password</label> <input name="password" type="text" class="form-control" id="form19"> </div>
            </div>
            <div class="form-group">
              <div class="form-check"></div>
            </div> <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
